#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:{{ jellyfin_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      - PUID={{ jellyfin_puid }}
      - PGID={{ jellyfin_pgid }}
      - TZ={{ timezone | default('UTC') }}
      {% if jellyfin_publishedserverurl %}
      - JELLYFIN_PublishedServerUrl={{ jellyfin_publishedserverurl }}
      {% endif %}
      {% if jellyfin_lsio_docker_mods %}
      - DOCKER_MODS={{ jellyfin_lsio_docker_mods | default([], true) | join('|') }}
      {% endif %}

    {% if jellyfin_devices | default([]) | length > 0 %}
    devices:
      {% for item in jellyfin_devices %}
      - {{ item }}
      {% endfor %}
    {% endif %}

    volumes:
      # Jellyfin config
      - ./config:/config

      # Media volumes
      {% for item in jellyfin_media_volumes %}
      - type: bind
        source: {{ item.source }}
        target: {{ item.target  }}
        bind:
          create_host_path: false
      {% endfor %}
      {% if jellyfin_additional_volumes | default([]) | length > 0 %}

      # Additional volumes
      {% for item in jellyfin_additional_volumes %}
      - {{ item }}
      {% endfor %}
      {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
